{% extends '../layouts/app.twig' %}

{% block title %}Привет!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <h1>I work!</h1>
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            <h1>I work!</h1>
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
    </div>
{% endblock %}