<h5 class="modal-title">ОТПРАВЬТЕ ЗАПРОС И ПОЛУЧИТЕ ОТВЕТ В ТЕЧЕНИИ 15 МИНУТ, СЭКОНОМИВ ДО 30% 123</h5>

<form action="{{ route('callback_send') }}" method="post" style="padding-top: 24px">
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Ваше Имя" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="phone" placeholder="Ваш телефон" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="vin" placeholder="VIN номер">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="5" name="comment" placeholder="Какие запчасти Вам нужны? Так-же можете указать марку, модель и год выпуска автомобиля."></textarea>
    </div>
    <button type="submit" class="btn btn-danger btn-block">ОТПРАВИТЬ ЗАПРОС</button>
</form>