{% extends '../layouts/app.twig' %}

{% block title %}Привет!{% endblock %}

{% block body %}
    <style>

        .__catalog_item {
            margin-top: 24px;
        }
        .__catalog_item img{
            width: 150px;
            height: 150px;;
        }
    </style>

    <div class="alert alert-danger">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <input class="form-control form-control-lg" type="text" placeholder="VIN">
    </div>

    <div class="row">
        {% for item in models %}
            <div class="col-sm-6 __catalog_item">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <a href="#" class="btn btn-danger">Смотреть каталог</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}